/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
.header{
    width: 1200px;
    height: 180px;
    background-color: yellow;
}

.header h1 a{
    display: block;
    width: 170px;
    height: 170px;
    float: left;
    background: url(../img/logo.png) no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
ul{
    width: 300px;
    height: 180px;
    float: right;
}
ul li{
    width: 100px;
    height: 180px;
    line-height: 180px;
    float: left;
}
ul li a{
    text-decoration: none;
}
ul li a:hover{
    color: blue;
}
.content{
    width: 1200px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer{
    width: 1200px;
    height:100px;
    background: pink;
    text-align: center;
    line-height: 100px;
}
.content .index{
    width: 1200px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color:#0000AA;
    font-size: 60px;
}
.content .gmail{
    width: 1200px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color:orange;
    font-size: 60px;
}
.content .yahoo{
    width: 1200px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color:#5500FF;
    font-size: 60px;
}